In [1]:
print("HOPE AI:")

HOPE AI:

In [2]:
input("Enter your institute name:")

Enter your institute name:HOPE AI

'HOPE AI'

In [7]:
input("Enter your name:")
input("Enter your age:")
input("Enter youtr scool name:")
input("Enter your degree:")

Enter your name:UDHAYAKUMAR B
Enter your age:31
Enter youtr scool name:SRINIVASA HEIGHER SECONDRY SCHOOL
Enter your degree:B.E, MECHANICAL ENGINEERING

'B.E, MECHANICAL ENGINEERING'

In [25]:

a=43
print("a=43")
b=34
print("b=34")
print("add=a+b")
add

a=43
b=34
add=a+b

77

In [29]:
a=43
print("a=43")
b=34
print("b=34")
sub=a-b
print("sub")
sub

a=43
b=34
sub

9

In [34]:
a=63
print("a=43")
b=97
print("b=97")
mul=a*b
print("mul")
mul

a=43
b=97
mul

6111

In [19]:
a=76
print("a=76")
b=31
print("b=31")
modulo=a%b
print("modulo")
modulo

a=76
b=31
modulo

14

In [35]:

a=4
print("a=4")
b=4
print("b=4")
print(pow(4,4))
pow

a=4
b=4
256

In [73]:
a=76
print("a=76")
b=31
print("b=31")
div=(76/31)
div
print("float division")
div

a=76
b=31
float division

2.4516129032258065

In [76]:
a=76
print("a=76")
b=31
print("b=31")
div=(76//31)
div
print("floor division")
div

a=76
b=31
floor division

2